@charset "UTF-8";

p {
    text-align: justify;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
main {
    font-family: cursive;
    width: 600px;
    padding: 10px;
    margin: auto;
}
